    <h1>About Us</h1>
    <p>
      <a href="http://vk.com/mabot">Ruby on Rails Tutorial</a>
      is a project to make a book and screencasts to teach web development
      with <a href="http://mabot.ru/">Mabot</a>.
    </p>